$dark-primary: #115acf;
$primary: #3E8AD8;
$light-primary: #6ea2f5;
$lightest-primary: #bbd4fc;

$black: #3E3E3E;
$heavy-grey: #717171;
$medium-grey: #A6A6A5;
$regular-grey: #DCDCDC;
$light-grey: #F2F2F2;
$lightest-grey: #F7F7F7;
$white: #FFFFFF;

$dark-green: #3E8A5C;
$green: #50A773;
$light-green: #DCEDE3;

$dark-orange: #E56745;
$orange: #FF7752;
$light-orange: #FFF1EC;

$blue: #2E6788;

$dark-yellow: #DA9D16;
$yellow: #E7A74E;
$light-yellow: #F9B114;
